html {
    --color-primary: #6c5dd3;
    --color-primary-rgbnumber: 11, 11, 11;
    --color-gray-rgba: rgba(228, 228, 228, 0.5);
    --color-gray-rgb: rgb(228, 228, 228);
    --color-gray-shades: rgba(228, 228, 228, 1);
}

body[theme-mode="dark"], body .semi-always-dark {
    --semi-blue-0: 0,45,110;
    --semi-blue-1: 0,62,146;
    --semi-blue-2: 3,82,182;
    --semi-blue-3: 11,106,217;
    --semi-blue-4: 20,131,253;
    --semi-blue-5: 67,159,253;
    --semi-blue-6: 114,185,254;
}

body[theme-mode="dark"], body .semi-always-dark {
    --semi-color-bg-0: rgba(22, 22, 26, 1);
    --semi-color-bg-1: rgba(35, 36, 41, 1);
    --semi-color-bg-2: rgba(53, 54, 60, 1);
    --semi-color-info: rgba(var(--semi-blue-5), 1);
    --semi-color-primary: rgba(var(--semi-blue-4), 1)
    --semi-shadow-elevated: 0px 0px 1px 0px rgba(0,0,0,0.30), 0px 4px 14px 0px rgba(0,0,0,0.10);
    --semi-border-radius-full: 9999px;
    --semi-border-radius-large: 8px;
    --semi-border-radius-small: 4px;
    --semi-border-radius-circle: 50%;
    --semi-border-radius-medium: 12px;
    --semi-border-radius-extra-small: 2px;
}
    